 html, body{
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    padding-top: 0px;
}
.carousel-inner{
    display: table;
    background-color: #6E8EC0;
    background-size: cover;
    background-attachment: fixed;
    height: 380px;
    font-family: 'Kalam';
    font-size: 22px;
}
.content {
    width: 100%;
    position: absolute;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: #0288d1; 
}
#pic1 {
    animation-delay: 0s;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
#pic2 {
    animation-delay: 0s;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
#pic3 {
    animation-delay: 0s;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
#section-1 {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
#section-2 {
  animation-delay: 2s;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #0D39FF;
 }
 #social-tw:hover {
     color: #FFCA00;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #08E821;
 }
 .navbar {
  width: 100%;
  height: 50px;
  }

